<template>
  <q-card>
    <q-card-section
      class="row items-center cabecera"
      style="padding: 0px 10px;"
    >
      <q-space />
      <q-btn icon="close" flat round dense v-close-popup />
    </q-card-section>
    <q-card-section>
      <div class="row justify-center items-center">
        <div class="col-xs-12 text-center">
          <h3>Crear nuevo Evento</h3>
        </div>
        <div class="col-xs-12 col-md-7 text-center">
          <q-form @submit="create" class="q-gutter-md">
            <q-input
              outlined
              filled
              dense
              type="text"
              label="Nombre del evento"
              class="q-pa-sm"
              :error="$v.event.nombre.$error"
              error-message="Ingrese un nombre al evento"
              v-model="event.nombre"
            />
            <q-input
              outlined
              filled
              dense
              type="text"
              label="Lugar del evento"
              class="q-pa-sm"
              :error="$v.event.lugar.$error"
              error-message="Ingrese el lugar del evento"
              v-model="event.lugar"
            />
            <q-input
              filled
              v-model="event.fecha"
              label="Fecha y Hora"
              :error="$v.event.fecha.$error"
              error-message="Ingrese la fecha y hora del evento"
            >
              <template v-slot:prepend>
                <q-icon name="event" class="cursor-pointer">
                  <q-popup-proxy
                    transition-show="scale"
                    transition-hide="scale"
                  >
                    <q-date v-model="event.fecha" mask="YYYY-MM-DD HH:mm">
                      <div class="row items-center justify-end">
                        <q-btn
                          v-close-popup
                          label="Close"
                          color="primary"
                          flat
                        />
                      </div>
                    </q-date>
                  </q-popup-proxy>
                </q-icon>
              </template>

              <template v-slot:append>
                <q-icon name="access_time" class="cursor-pointer">
                  <q-popup-proxy
                    transition-show="scale"
                    transition-hide="scale"
                  >
                    <q-time
                      v-model="event.fecha"
                      mask="YYYY-MM-DD HH:mm"
                      format24h
                    >
                      <div class="row items-center justify-end">
                        <q-btn
                          v-close-popup
                          label="Close"
                          color="primary"
                          flat
                        />
                      </div>
                    </q-time>
                  </q-popup-proxy>
                </q-icon>
              </template>
            </q-input>
            <div>
              <q-btn label="Registrar" type="submit" color="primary" />
            </div>
          </q-form>
        </div>
      </div>
    </q-card-section>
  </q-card>
</template>

<script>
//Mixins
import MixinInit from "src/mixins/mixin_init.js"

//Models
import Event from "src/models/Event.js";

//Library
import { required } from "vuelidate/lib/validators";

export default {
  name: "CreateEvent",

  mixins: [MixinInit],

  data() {
    return {
      event: new Event()
    };
  },

  validations: {
    event: {
      nombre: { required },
      lugar: { required },
      fecha: { required }
    }
  },

  mounted() {
    this.event.user_id = this.identity.id
  },

  methods: {
    //Función para la creación del evento
    async create() {
      //Lanzar Validación
      this.$v.$touch();
      if (this.$v.$invalid) {
        return;
      }
      const res = await this.event.store();
      if(res) {
        this.$q.notify({
          message: 'Evento Creado',
          color: 'primary'
        })
        this.$emit('created', res.event)
      }
    }
  }
};
</script>

<style></style>
