<template>
  <q-page class="flex-center index-page">
    <div class="row justify-center q-pa-sm">
      <h3 class="title">Eventos</h3>
    </div>
    <div class="row justify-center q-pa-sm">
      <div
        class="col-xs-12 col-sm-6 col-md-4 q-pa-md"
        v-for="event in events"
        :key="event.id"
      >
        <event-card
          :evento="event"
          :suscribed="isSuscribed(event)"
          @suscribed="addSuscription"
        />
      </div>
    </div>
  </q-page>
</template>

<script>
//Mixins
import MixinInit from "src/mixins/mixin_init.js";

//Models
import Event from "src/models/Event.js";
import Suscription from "src/models/Suscription.js";

//Components
import EventCard from "src/components/EventCard.vue";

export default {
  name: "PageIndex",

  components: { EventCard },

  mixins: [MixinInit],

  data() {
    return {
      events: [],
      suscriptions: []
    };
  },

  async mounted() {
    await this.getAllEvents();
    this.loadSuscriptions();
  },

  methods: {
    //Obtiene todos los eventos
    async getAllEvents() {
      const res = await Event.index();
      if (res) {
        this.events = res.events.map(event => Event.fromObj(event));
      }
    },

    //Obtiene las suscripciones del usuario
    async loadSuscriptions() {
      const res = await Suscription.byUserId(this.identity.id);
      if (res) {
        this.suscriptions = res.suscriptions.map(suscription =>
          Suscription.fromObj(suscription)
        );
      }
    },

    /*
      Añade la suscripción recientemente creada
      suscription: Object
    */
    addSuscription(suscription) {
      this.suscriptions = [...this.suscriptions, suscription];
    },

    /*
      Determina si el usuario está suscrito a un evento
      event: Object
    */

    isSuscribed(event) {
      const exist = this.suscriptions.find(
        suscription => suscription.event_id == event.id
      );
      return exist != undefined;
    }
  }
};
</script>

<style lang="scss" scoped>
.index-page {
  .title {
    color: white;
  }
}
</style>
