<template>
  <q-page class="login flex flex-center">
    <div class="container text-center">
      <h4>Login</h4>
      <q-input outlined dense v-model="email" label="Correo" class="q-pa-sm" />
      <q-input
        outlined
        dense
        type="password"
        v-model="password"
        label="Contraseña"
        class="q-pa-sm"
        @keypress.enter="login"
      />
      <q-btn rounded color="primary" label="Iniciar Sesión" @click="login" />
      <div class="row justify-center q-pa-sm">
        <span
          >¿No tienes cuenta?
          <a @click.prevent="openRegistro">Registrate</a></span
        >
      </div>
    </div>
    <q-dialog
      v-model="dialog.registro"
      persistent
      :full-width="$q.screen.lt.sm"
    >
      <registro />
    </q-dialog>
  </q-page>
</template>

<script>
//Mixins
import MixinInit from "../mixins/mixin_init";

//Components
import Registro from "src/components/Registro.vue";

export default {
  name: "Login",

  components: { Registro },

  mixins: [MixinInit],

  data() {
    return {
      email: "",
      password: "",
      dialog: {
        registro: false
      }
    };
  },
  
  methods: {
    //Realiza el login del usuario
    async login() {
      const { status, data } = await this.$axios.post("v1/auth/login", {
        email: this.email,
        password: this.password
      });
      if (status == 200) {
        this.$q.sessionStorage.set("identity", data.user);
        this.$q.sessionStorage.set("token", data.token);

        this.$store.commit("identity/token_update", data.token);
        this.$store.commit("identity/identity_update", data.user);
        this.$store.commit("identity/islogged_update", true);
        this.init__();
        this.$router.push({
          name: "Inicio"
        });
      }
    },

    //Abre el modal de registro
    openRegistro() {
      this.dialog.registro = true;
    }
  }
};
</script>

<style lang="scss" scoped>
.login {
  .container {
    background-color: white;
    border-radius: 15px;
    max-width: 400px;
    width: 90vw;
    padding: 20px;
    h4 {
      text-align: center;
    }
    a {
      color: blue;
      cursor: pointer;
    }
  }
}
</style>
