<template>
  <q-page class="ownevents-page flex-center">
    <div class="row justify-center q-pa-sm">
      <q-btn label="Crear nuevo evento" color="primary" @click="openRegister" />
    </div>
    <div class="row justify-center q-pa-sm">
      <div
        class="col-xs-12 col-sm-6 col-md-4 q-pa-md"
        v-for="event in events"
        :key="event.id"
      >
        <event-card :evento="event" :isOwn="true" />
      </div>
    </div>
    <!-- Dialogs -->
    <q-dialog v-model="dialog.create" persistent :full-width="$q.screen.lt.sm">
      <create @created="eventCreated" />
    </q-dialog>
  </q-page>
</template>

<script>
//Mixins
import MixinInit from "src/mixins/mixin_init.js";

//Models
import Event from "src/models/Event.js";

//Components
import Create from "src/components/OwnEvents/Create.vue";
import EventCard from "src/components/EventCard.vue";

export default {
  name: "OwnEvents",

  components: { Create, EventCard },

  mixins: [MixinInit],

  data() {
    return {
      events: [],
      dialog: {
        create: false
      }
    };
  },

  mounted() {
    this.loadEvents();
  },

  methods: {
    //Carga los eventos creados por el usuario
    async loadEvents() {
      const res = await Event.byUserId(this.identity.id);
      if (res) {
        this.events = res.events.map(event => Event.fromObj(event));
      }
    },

    //Abre el modal de registro de eventos
    openRegister() {
      this.dialog.create = true;
    },

    //Funcion ejecutada cuando se crea un evento, cierra el modal y lo añade al array
    eventCreated(event) {
      this.dialog.create = false;
      this.events = [...this.events, Event.fromObj(event)];
    }
  }
};
</script>

<style></style>
