<template>
  <q-card class="my-card">
    <img src="https://cdn.quasar.dev/img/parallax2.jpg" />

    <q-list>
      <q-item clickable>
        <q-item-section avatar>
          <q-icon color="primary" name="bookmark" />
        </q-item-section>

        <q-item-section>
          <q-item-label>Evento</q-item-label>
          <q-item-label caption>{{ evento.nombre }}</q-item-label>
        </q-item-section>
      </q-item>

      <q-item clickable>
        <q-item-section avatar>
          <q-icon color="red" name="place" />
        </q-item-section>

        <q-item-section>
          <q-item-label>Lugar</q-item-label>
          <q-item-label caption>{{ evento.lugar }}</q-item-label>
        </q-item-section>
      </q-item>

      <q-item clickable>
        <q-item-section avatar>
          <q-icon color="amber" name="event" />
        </q-item-section>

        <q-item-section>
          <q-item-label>Cuando</q-item-label>
          <q-item-label caption>{{ evento.fecha }}</q-item-label>
        </q-item-section>
      </q-item>
    </q-list>
    <q-separator />
    <template v-if="!isOwn">
      <q-card-actions v-if="!suscribed">
        <q-btn flat round icon="favorite_border" @click="suscribe" />
        <q-btn flat color="primary" @click="suscribe">
          Suscribirse
        </q-btn>
      </q-card-actions>
      <q-card-actions v-else>
        <q-btn flat round icon="favorite"/>
        <q-btn flat color="primary">
          Suscrito
        </q-btn>
      </q-card-actions>
    </template>
  </q-card>
</template>

<script>
//Mixins
import MixinInit from "src/mixins/mixin_init.js";

//Models
import Event from "src/models/Event.js";
import Suscription from "src/models/Suscription.js";

export default {
  name: "EventCard",

  mixins: [MixinInit],

  props: {
    evento: {
      type: Event,
      default: new Event()
    },

    isOwn: {
      type: Boolean,
      default: false
    },

    suscribed: {
      type: Boolean,
      default: false
    }
  },

  methods: {
    //Función para crear la suscripción al evento
    async suscribe() {
      const suscription = Suscription.fromObj({
        user_id: this.identity.id,
        event_id: this.evento.id
      });
      const res = await suscription.store();
      if (res) {
        this.$q.notify({
          message: "Te has suscrito al evento",
          color: "primary"
        });
        this.$emit("suscribed", suscription);
      }
    }
  }
};
</script>

<style></style>
