<template>
  <q-card>
    <q-card-section
      class="row items-center cabecera"
      style="padding: 0px 10px;"
    >
      <q-space />
      <q-btn icon="close" flat round dense v-close-popup />
    </q-card-section>
    <q-card-section>
      <div class="row justify-center items-center">
        <div class="col-xs-12 text-center">
          <h3>Registro</h3>
        </div>
        <div class="col-xs-12 col-md-7 text-center">
          <q-form @submit="registrar" class="q-gutter-md">
            <q-input
              outlined
              filled
              dense
              type="email"
              label="Correo"
              class="q-pa-sm"
              :error="$v.email.$error"
              error-message="Email no válido"
              v-model="email"
            />
            <q-input
              outlined
              filled
              dense
              type="password"
              label="Contraseña"
              class="q-pa-sm"
              :error="$v.password.$error"
              error-message="Contraseña requerida"
              v-model="password"
              @keypress.enter="registro"
            />
            <div>
              <q-btn label="Registrar" type="submit" color="primary" />
            </div>
          </q-form>
        </div>
      </div>
    </q-card-section>
  </q-card>
</template>

<script>
//Mixins
import MixinInit from "src/mixins/mixin_init.js";

//Library
import { required, email } from "vuelidate/lib/validators";

export default {
  name: "Registro",

  mixins: [MixinInit],

  data() {
    return {
      email: "",
      password: ""
    };
  },

  validations: {
    email: { required, email },
    password: { required }
  },

  methods: {
    //Función para registrar un usuario
    async registrar() {
      //Lanza la validación
      this.$v.$touch();
      if (this.$v.$invalid) {
        return;
      }
      const { status, data } = await this.$axios.post("v1/auth/registro", {
        email: this.email,
        password: this.password
      });
      if (status == 200) {
        //Almacena datos de la sesión en el storage
        this.$q.sessionStorage.set("identity", data.user);
        this.$q.sessionStorage.set("token", data.token);

        this.$store.commit("identity/token_update", data.token);
        this.$store.commit("identity/identity_update", data.user);
        this.$store.commit("identity/islogged_update", true);
        //Fuerza refrescamiento de vuex
        this.init__();
        //Hace la redirección
        this.$router.push({
          name: "Inicio"
        });
      }
    }
  }
};
</script>

<style></style>
