<template>
  <q-layout view="lHh Lpr lFf">
    <q-header v-if="isLogged" elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="leftDrawerOpen = !leftDrawerOpen"
        />

        <!-- <q-toolbar-title>
          Quasar App
        </q-toolbar-title> -->

        <div @click="toInicio">App de Eventos</div>

        <q-space />
        <q-item clickable v-ripple>
          <q-item-section side>
            <q-avatar rounded size="40px">
              <img
                src="https://res.cloudinary.com/jsifuentes/image/upload/v1564111397/perfil_tumwsq.jpg"
              />
            </q-avatar>
          </q-item-section>
          <q-menu>
            <q-list style="width: 256px; text-align: center;">
              <q-item
                @click="logout"
                clickable
                v-close-popup
                style="background-color: #ff2222de;"
              >
                <q-item-section
                  style="text-align: center;color:#ffffff;display: inline;margin: auto;"
                >
                  Cerrar Sesión &nbsp;<q-icon name="fas fa-power-off"
                /></q-item-section>
              </q-item>
            </q-list>
          </q-menu>
        </q-item>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-if="isLogged"
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      content-class="bg-primary"
    >
      <q-list>
        <EssentialLink
          v-for="link in essentialLinks"
          :key="link.title"
          v-bind="link"
        />
      </q-list>
    </q-drawer>

    <q-page-container style="background-color: #0b1132;">
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
//Mixins
import MixinInit from "../mixins/mixin_init";

//Components
import EssentialLink from "components/EssentialLink.vue";

const linksData = [
  {
    title: "Mis Eventos",
    icon: "favorite",
    link: "Owns"
  },
  {
    title: "Buscar Eventos",
    icon: "record_voice_over",
    link: "Inicio"
  }
];

export default {
  name: "MainLayout",

  components: { EssentialLink },

  mixins: [MixinInit],

  data() {
    return {
      leftDrawerOpen: false,
      essentialLinks: linksData
    };
  },

  methods: {
    //Función para finalizar la sesión
    logout() {
      this.$q.sessionStorage.clear();
      this.$router.push({
        name: "Login"
      });
      window.location.reload();
    },

    //Función para redireccionar al inicio
    toInicio() {
      this.$router.push({
        name: "Inicio"
      });
    }
  }
};
</script>
